<!DOCTYPE html>
<html>
    <head>
        <title>Weather API Test</title>
    </head>
    <body>
        <h1>Global Weather Information</h1>
<!-- form for posting user action to the python backend -->
        <form method="POST", action="/">
            <label for="city_select">Please select a city:</label>
            <select id="city_select", name="city_select">
                <option id="lnd", value="London">London</option>
                <option id="par", value="Paris">Paris</option>
                <option id="nyc", value="New York">New York</option>
                <option id="del", value="Delhi">Delhi</option>
                <option id="tok", value="Tokyo">Tokyo</option>
                <input id="sub", type="submit" value="Submit">
            </select>
        </form>
        <br>
        <!-- if statement preventing the page from trying to display nonexistent data -->
        {% if display_data != None %}
        <h2 id="city_name">{{ display_data["current_city"] }}</h2>
        <table id="tab">
        <tbody>
        <tr>
            <td>Current temperature:</td>
            <td name="info", id="1"> {{ display_data["current_temp"] }} </td></tr>
        <tr>
            <td>Humidity:</td>
            <td name="info", id="2"> {{ display_data["humidity"] }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td name="info", id="3"> {{ display_data["description"] }}</td>
        </tr>
        <tr>
            <td>Lowest temperature:</td>
            <td name="info", id="4"> {{ display_data["min_temp"] }}</td>
        </tr>
        <tr>
            <td>Highest temperature:</td>
            <td name="info", id="5"> {{ display_data["max_temp"] }}</td>
        </tr>
        </tbody>
        </table>
        {% endif %}
    </body>
</html>